body {
    font: 11px 'Lucida Grande', sans-serif;
    overflow: hidden;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}
$headerHeight: 90px;
$sidebarWidth: 390px;
$sidebarTabBarHeight: 110px;
$sidebarTabHeight: calc(#{$sidebarTabBarHeight}/2 - 5px);
$sidebarPaneHeight: calc(100% - #{$headerHeight} - #{$sidebarTabBarHeight});
@import 'components/all';

.primary-view {
    width: 100%;
    height: 100%;
}

#cadjs-container {
    position: relative;
    height: 100%;
    width: 100%;

    canvas {
        border: 2px #333 solid;
        width: 100%;
        height: 100%;
    }

    .resetview {
        font-size: 40px;
        position: absolute;
        right: 110px;
        margin: 15px;
        top: 25px;
        color: #999999;
        z-index: 10;
        padding: 7px;
        text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;

        .locked,
        span:hover {
            color: #F8F8F8;
            cursor: pointer;
        }

        .lock {
            font-size: 16;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.non-initialized {
    background: url('/img/spinner.gif') center center no-repeat;
}

#cadview-container {
    z-index: 1;
    position: absolute;
}

.model-tree {
    z-index: 2;
}
// NOTE: "glyphicon" refers to the font "Glyphicons Halflings"
//       "glyphicons" refers to the font "Glyphicons Regular"
@import '../fonts/glyphicons';
