body {
  font: 11px 'Lucida Grande', sans-serif;
  overflow: hidden;
  background-color: #fff;
  width:100%;
  height:100%;
}

@import 'components/all';

.primary-view {
    width:100%;
    height:100%;
}

#cadjs-container{
    position:relative;
    height:100%;
    width:100%;
}
#cadjs-container canvas{
    border:2px #333 solid;
}

.non-initialized {
  background:url(/img/spinner.gif) center center no-repeat;
}

#cadview-container{
    bottom: 0px;
    right: 0px;
    z-index: 1;
    position:absolute;
}
.model-tree{
    z-index:2;
}
