@import "base_style";
.rc-menu-item:hover {
    cursor: pointer;
}
.bottom-menu {
    background-color: #f8f8f8;
    .rc-menu-item:first-child {
        margin-left: 8px;
    }
    .rc-menu-item {
        padding: 0;
        min-width: 90px;
        height: 86px;
        margin-top: 4px;
        margin-bottom: 4px;
        text-align: center;
        border-right: 1px solid #ddd;
        background: none;
        white-space: normal;
    }
    .rc-menu-item-selected {
        background: none;
        height: 86px;
    }
    .rc-menu-item:hover {
        margin-bottom: 0;
        height: 86px;
    }
    .slider {
        width: 250px;
        height: 78px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 28px;
        color: #666;
        .sliderData {
            padding-top: 13px;
        }
    }
<<<<<<< HEAD
=======

>>>>>>> 8bc9179e046fb3cb1c7ce11f4f3061791ab82306
    .sliderWithIcons {
        .sliderData {
            padding-top: 14px;
            output {
                padding: 0px;
                display: inline-block;
            }
            .slider-icon {
                font-size: 20px;
                opacity: .5;
            }
            .slider-left-icon {
                float: left;
            }
            .slider-right-icon {
                float: right;
            }
        }
    }
}
.sidebar-menu {
    border-bottom: none;
    .rc-menu-item {
        width: $sidebarWidth/2;
        text-align: center;
        background-color: #eee;
    }
    .rc-menu-item:first-child {
        border-right: 2px solid #aaa;
    }
    .rc-menu-item-selected {
        background-color: #ddd;
    }
    .rc-menu-item:disabled {
        opacity: 0.5;
    }
}
.rc-menu-item:disabled {
    opacity: 0.25;
}
.rc-menu-item .button-icon {
    font-size: 32px;
    opacity: 0.5;
    padding-bottom: 11px;
    padding-top: 15px;
    display: block;
}
// Slider style
input[type=range] {
    -webkit-appearance: none;
    margin-bottom: 8.5px;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }
    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        border: 1px solid #000000;
        height: 28px;
        width: 11px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
    }
    &:focus::-webkit-slider-runnable-track {
        background: #367ebd;
    }
    &::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }
    &::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        border: 1px solid #000000;
        height: 28px;
        width: 11px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }
    &::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    &::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    }
    &::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    }
    &::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        border: 1px solid #000000;
        height: 28px;
        width: 11px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        height: 8.4px;
    }
    &:focus {
        &::-ms-fill-lower {
            background: #3071a9;
        }
        &::-ms-fill-upper {
            background: #367ebd;
        }
    }
}
