.Footer-container {
    
    position: absolute;
    bottom: 0;
    width: 100%;

    .footer-bar {
        position: relative;
        height: 13vmin;
        width: 100%;
        font-family: sans-serif;
        font-size: 8vmin;
        color: 222222;
        background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,1));
        z-index: 99;
        flex-flow: row nowrap;
        display: flex;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;

        .Footer-left {

            flex: 20;
            overflow-y: hidden;

            .drawerbutton {
                width: 100%;
                position: relative;
                text-align: center;
                font-size: 12px;
            }

            .op-text {
                overflow-y: hidden;
            }
        }

        .footer-buttons {
            background: green;
            display: flex;
            align-items: center;

            .button-icon {
                flex: 1;
                padding: 0.5vmin;
                height: 10vmin;
            }
        }
    }
}