.header {
    width: 100%;
    height: $headerHeight;
    background-color: #FFFFFF;
    border-bottom: none;
    position: relative;
    z-index: 10;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.header-menu {
    background-color: #F8F8F8;

    .rc-menu-item {
        padding: 0;
        min-width: 85px;
        min-height: inherit;
        text-align: center;
        border-right: 1px solid #DDDDDD;
        background: none;
        white-space: normal;
    }

    li:last-child {
        float: right;
    }
}

.header .rc-menu-item:first-child {
    margin-left: 2px;
}

.header-menu-item {
    min-height: inherit;

    &:hover {
        border-bottom: 2px solid #2DB7F5;
    }

    .feed-speed {
        margin: 0 10px;

        &.value {
            font-weight: bold;
        }
    }
}

.menu-item-button {
    .button-icon {
        font-size: 32px;
        color: rgba(#666666, .5);
        padding-bottom: 11px;
        padding-top: 15px;
        display: block;
    }

    &:hover {
        cursor: pointer;

        .button-icon {
            color: #2BAEE9;
            opacity: 1;
        }
    }
}

.menu-item-slider {
    &:hover {
        input[type=range] {
            &::-webkit-slider-thumb {
                background: #35B8FD;
                border-color: transparent;
            }

            &::-moz-range-thumb {
                background: #35B8FD;
                border-color: transparent;
            }

            &::-ms-thumb {
                background: #35B8FD;
                border-color: transparent;
            }
        }
    }
}

.slider {
    width: 249px;
    padding: 19px 15px 8px;

    .sliderData {
        height: 20px;
        padding-top: 11px;
        cursor: default;

        div {
            display: inline-block;
        }

        & + span {
            display: none;
        }
    }

    .slider-icon {
        font-size: 20px;
        opacity: 0.5;
        color: #666666;

        &:hover {
            color: #2BAEE9;
            opacity: 1;
            cursor: pointer;
        }
    }

    .slider-left-icon {
        float: left;
    }

    .slider-right-icon {
        float: right;
    }
}

input[type=range] {
    $thumbHeight: 28px;
    $thumbWidth: 10px;
    $trackHeight: 8px;
    -webkit-appearance: none;
    width: 100%;
    height: $thumbHeight + 2px;
    background-color: #F8F8F8;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: $trackHeight;
        cursor: pointer;
        background: rgba(#666666, .5);
        border-radius: 1px;
    }

    &::-webkit-slider-thumb {
        border: 1px solid rgba(#666666, .5);
        height: $thumbHeight;
        width: $thumbWidth;
        border-radius: 2px;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
    }

    &::-moz-range-track {
        width: 100%;
        height: $trackHeight;
        cursor: pointer;
        background: rgba(#666666, .5);
        border-radius: 1px;
    }

    &::-moz-range-thumb {
        border: 1px solid rgba(#666666, .5);
        height: $thumbHeight;
        width: $thumbWidth;
        border-radius: 2px;
        background: #FFFFFF;
        cursor: pointer;
    }
    
    &::-ms-track {
        width: 100%;
        height: $trackHeight;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: rgba(#666666, .5);
        border-radius: 1px;
        cursor: pointer;
    }

    &::-ms-thumb {
        border: 1px solid rgba(#666666, .5);
        border-width: 1px;
        height: $thumbHeight;
        width: $thumbWidth;
        border-radius: 2px;
        background: #FFFFFF;
        cursor: pointer;
        margin-top: 0px;
    }
    
    &::-ms-tooltip {
        display: none;
    }
}
.version{
    display:inline-block;
    height: 18px;

}
.changelog {
    max-height: 350px;
    width: $sidebarWidth;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    padding: 6px;
    border: 2px #333333 solid;
    overflow-y: auto;
    text-align: left;
    background-color: rgb(248, 248, 248);
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -o-user-select: text;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -moz-transform ease 250ms;
    -ms-transition: -ms-transform ease 250ms;
    -o-transition: -o-transform ease 250ms;
    transition: transform ease 250ms;

    &.visible {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}
