.mobile-sidebar {
    height: calc(100% - 13vmin);
    width: 100%;
    z-index: 98;
    position: absolute;
    
    .m-tree {
        max-height: calc(100% - #{$sidebarTabBarHeight});
        margin: 5px 0px;
        padding: 0px 5px;
    }
}
