$icons: '../icons/';

.sidebar {
    width: $sidebarWidth;
    height: 100%;
    background-color: #DDD;
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .sidebar-menu-tabs {
        background-color: #666;
        border-top: none;
        font-size: 20px;
        height: $sidebarTabsHeight;
        border-bottom: 1px solid #AFAFAF;

        .rc-menu-item {
            text-align: center;
            color: #F8F8F8;
            position: relative;
            border: 2px solid #AFAFAF;
            border-bottom-color: #AFAFAF;
            border-left: none;
            border-right: none;
            padding: 10px 5px;
            width: 50%;
            margin-left: 0;
            background-color: #333;
            text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;

            &:disabled {
                opacity: 0.5;
            }

            &:hover {
                cursor: pointer;
                color: #2BAEE9;
                border-bottom-color: #2BAEE9;
            }
        }

        .rc-menu-item-selected {
            background-color: #2BAEE9;

            &:hover {
                color: #FFF;
            }
        }

        .rc-menu-item:before {
            display: block;
            content: '.';
            color: transparent;
            font-size: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: -2px;
            bottom: -2px;
        }

        .rc-menu-item.ws:before {
            border-left: 2px solid #AFAFAF;
            border-right: 2px solid #AFAFAF;
        }

        .rc-menu-item.wp:before {
            border-right: 2px solid #AFAFAF;
        }

        .rc-menu-item.tool {
            border-top: none;
        }

        .rc-menu-item.tool:before {
            border-left: 2px solid #AFAFAF;
            border-right: 2px solid #AFAFAF;
        }

        .rc-menu-item.tolerance {
            border-top: none;
        }

        .rc-menu-item.tolerance:before {
            border-right: 2px solid #AFAFAF;
        }
    }

    .model-tree:hover {
        opacity: 0.9;
        left: 0;
    }

    .m-tree {
        position: relative;
        padding: 2px;
        height: $sidebarPaneHeight;
        overflow-y: scroll;

        .m-node {
            background-color: rgba(#FFF, .5);

            &:hover {
                cursor: pointer;
            }

            .textbox {
                vertical-align: middle;
                display: inline-block;
                width: calc(100% - 38px);
            }
            .setup-textbox{
                display: table;
                margin: 0 auto;
            }

            .icon-letter,
            .icon-workpiece,
            .icon-tolerance,
            .icon-tool {
                background-color: rgba(#FFF, 0);
                border: 2px solid #333;
                padding: 15px;
                vertical-align: middle;
                background-size: cover;
                background-position: center;
                padding: 5px;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                display: inline-block;
                text-align: center;
                margin-right: 8px;
            }

            .icon-letter {
                background-color: #333;
                color: #FFF;
                border: none;
            }

            .icon-workpiece{
                background-image: url($icons + 'tolerance/unknown.svg');
            }

            .icon-tolerance {
                background-image: url($icons + 'tolerance/unknown.svg');
            }

            .icon-tool {
                background-image: url($icons + 'tools/tool.svg');
            }

            .icon-workplan {
                font-size: 24px;
                margin-right: 8px;
                vertical-align: middle;
            }

            .tolerance-angularity {
                background-image: url($icons + 'tolerance/angularity.svg');
            }

            .tolerance-circular-runout {
                background-image: url($icons + 'tolerance/circular_runout.svg');
            }

            .tolerance-circularity {
                background-image: url($icons + 'tolerance/circularity.svg');
            }

            .tolerance-concentricity {
                background-image: url($icons + 'tolerance/concentricity.svg');
            }

            .tolerance-cylindricity {
                background-image: url($icons + 'tolerance/cylindricity.svg');
            }

            .tolerance-flatness {
                background-image: url($icons + 'tolerance/flatness.svg');
            }

            .tolerance-parallelism {
                background-image: url($icons + 'tolerance/parallelism.svg');
            }

            .tolerance-perpendicularity {
                background-image: url($icons + 'tolerance/perpendicularity.svg');
            }

            .tolerance-position {
                background-image: url($icons + 'tolerance/position.svg');
            }

            .tolerance-profile-line {
                background-image: url($icons + 'tolerance/profile_line.svg');
            }

            .tolerance-profile-surface {
                background-image: url($icons + 'tolerance/profile_surface.svg');
            }

            .tolerance-straightness {
                background-image: url($icons + 'tolerance/straightness.svg');
            }

            .tolerance-symmetry {
                background-image: url($icons + 'tolerance/symmetry.svg');
            }

            .tolerance-total-runout {
                background-image: url($icons + 'tolerance/total_runout.svg');
            }

            .tolerance-directed {
                background-image: url($icons + 'dimension/linear_distance.svg');
            }

            .tolerance-radial {
                background-image: url($icons + 'dimension/radial.svg');
            }

            .tolerance-width {
                background-image: url($icons + 'dimension/width.svg');
            }

            .tolerance-height {
                background-image: url($icons + 'dimension/height.svg');
            }

            .tolerance-diameter {
                background-image: url($icons + 'dimension/diameter.svg');
            }

            .tolerance-angle-size {
                background-image: url($icons + 'dimension/angle_size.svg');
            }

            .tolerance-datum {
                background-image: url($icons + 'tolerance/datum.svg');
            }

            .tolerance-datum-target {
                background-image: url($icons + 'tolerance/datum_target.svg');
            }

            .tolerance-texture {
                background-image: url($icons + 'tolerance/texture.svg');
            }
        }
    }

    .m-draggable {
        position: absolute;
        opacity: 0.8;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .m-node.placeholder > * {
        visibility: hidden;
    }

    .m-node.placeholder {
        border: 1px dashed #CCC;
    }

    .m-node .node {
        display: inline-block;
        width: calc(100% - 15px);
        padding: 4px 5px;
        margin-left: 15px;
    }

    .m-node .inner {
        position: relative;
        cursor: pointer;
    }

    .m-node .inner:only-child {
        //padding-left: 15px;
    }

    .m-node .collapse {
        position: absolute;
        left: 0;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        width: 15px;
        font-size: 22px;
        background-color: transparent;
        text-align: center;
        padding-top: 2px;

        & + .node {
            //padding-left: 20px;
        }
    }

    .m-node .caret-right:before {
        content: '\25B8';
    }

    .m-node .caret-down:before {
        content: '\25BE';
    }

    .m-node .collapse:hover {
        color: #FFF;
        background-color: #2BAEE9;
    }

    .m-node .node.is-active {
        background-color: #0000FF;
    }

    .m-node .node.is-hidden {
        color: #1B6D85;
    }

    .running-node {
        background-color: #9BFA9B;
    }

    .disabled {
        opacity: 0.5;
    }

    .m-node .node:hover:not(.is-active) {
        background-color: #2BAEE9;
    }

    .m-node .node span.exp-distance {
        font-size: 10px;
        //color: red;
    }

    .handle {
        position: absolute;
        right: -8;
        top: 4px;
        width: 7px;
        height: 30px;
        background-color: #FFF;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .handle span {
        position: absolute;
        top: 5px;
        left: 3px;
        width: 2px;
        height: 20px;
        border-radius: 2px;
        background-color: #111;
    }

    .disabled-view {
        padding-top: 100px;
        font-size: 18px;
        text-align: center;
        color: #888;
        padding: 20px;
    }

    .properties-pane {
        display: block;
        width: $sidebarWidth;
        background-color: #F8F8F8;
        position: absolute;
        top: 0;
        z-index: 10;
        height: calc(100% - #{$headerHeight});
        left: $sidebarWidth*-1;
        -webkit-transition: -webkit-transform ease 250ms;
        -moz-transition: -moz-transform ease 250ms;
        -ms-transition: -ms-transform ease 250ms;
        -o-transition: -o-transform ease 250ms;
        transition: transform ease 250ms;

        .properties {
            height: calc(100% - 54px);
            overflow-y: scroll;

            .property {
                padding: 5px 20px;
                color: #333;

                &:hover {
                    cursor: pointer;
                }

                &.rc-menu-item-disabled {
                    cursor: inherit;
                    -webkit-touch-callout: auto;
                    /* iOS Safari */
                    -webkit-user-select: auto;
                    /* Chrome/Safari/Opera */
                    -khtml-user-select: auto;
                    /* Konqueror */
                    -moz-user-select: auto;
                    /* Firefox */
                    -ms-user-select: auto;
                    /* Internet Explorer/Edge */
                    user-select: auto;
                }

                &.goTo {
                    text-align: center;
                    padding: 10px 5px;
                    margin: 0 20%;
                    background-color: #333;
                    color: #F8F8F8;
                    border-bottom: 2px solid #AFAFAF;
                    -webkit-touch-callout: none;
                    /* iOS Safari */
                    -webkit-user-select: none;
                    /* Chrome/Safari/Opera */
                    -khtml-user-select: none;
                    /* Konqueror */
                    -moz-user-select: none;
                    /* Firefox */
                    -ms-user-select: none;
                    /* Internet Explorer/Edge */
                    user-select: none;

                    &:hover {
                        color: #35B7FD;
                        border-bottom: 2px solid #35B7FD;
                    }

                    &.rc-menu-item-disabled {
                        opacity: 0.5;

                        &:hover {
                            color: #F8F8F8;
                            border-bottom: 2px solid #AFAFAF;
                        }
                    }
                }

                &.children {
                    white-space: normal;
                    padding-left: 5px;

                    .title {
                        font-size: 18px;
                    }

                    .list {
                        .node {
                            display: inline-block;
                            width: 100%;
                            padding: 4px 5px;

                            &.invalid {
                                cursor: default;
                            }

                            .textbox {
                                display: flex;
                            }

                            &.is-active {
                                background-color: #0000FF;
                            }

                            &.is-hidden {
                                color: #1B6D85;
                            }

                            &.running-node {
                                background-color: #9BFA9B;
                            }

                            &.disabled {
                                opacity: 0.5;
                            }

                            &:hover:not(.is-active) {
                                background-color: rgba(#2BAEE9, .5);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .titlebar {
            padding: 5px;
            display: flex;

            .title {
                width: 78%;
                font-size: 14px;
                font-weight: bold;

                .type {
                    border-bottom: 1px solid #666;
                }
            }

            .exit {
                margin-left: auto;
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .icon {
            background-color: rgba(#fff, 0);
            padding: 15px;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            float: left;
            text-align: center;
            margin-right: 8px;
            vertical-align: middle;
            border: 2px solid #333333;
            background-image: url($icons + 'tolerance/unknown.svg');
            background-size: cover;
            background-position: center;

            &.tool {
                background-image: url($icons + 'tools/tool.svg');
            }

            &.selective,
            &.workingstep,
            &.workplan {
                background-image: none;
                background-color: #333;
                color: #fff;
                padding: 3px;

                &.workingstep:after {
                    content: 'WS';
                }

                &.workplan:after {
                    content: 'W';
                }

                &.selective:after {
                    content: 'S';
                }
            }

            &.tolerance {
                &.angularity {
                    background-image: url($icons + 'tolerance/angularity.svg');
                }

                &.circularity {
                    background-image: url($icons + 'tolerance/circularity.svg');
                }

                &.concentricity {
                    background-image: url($icons + 'tolerance/concentricity.svg');
                }

                &.cylindricity {
                    background-image: url($icons + 'tolerance/cylindricity.svg');
                }

                &.flatness {
                    background-image: url($icons + 'tolerance/flatness.svg');
                }

                &.parallelism {
                    background-image: url($icons + 'tolerance/parallelism.svg');
                }

                &.perpendicularity {
                    background-image: url($icons + 'tolerance/perpendicularity.svg');
                }

                &.position {
                    background-image: url($icons + 'tolerance/position.svg');
                }

                &.profile-line {
                    background-image: url($icons + 'tolerance/profile_line.svg');
                }

                &.profile-surface {
                    background-image: url($icons + 'tolerance/profile_surface.svg');
                }

                &.straightness {
                    background-image: url($icons + 'tolerance/straightness.svg');
                }

                &.symmetry {
                    background-image: url($icons + 'tolerance/symmetry.svg');
                }

                &.total-runout {
                    background-image: url($icons + 'tolerance/total_runout.svg');
                }
            }
        }

        &.visible {
            -webkit-transform: translate3d($sidebarWidth, 0, 0);
            -moz-transform: translate3d($sidebarWidth, 0, 0);
            -ms-transform: translate3d($sidebarWidth, 0, 0);
            -o-transform: translate3d($sidebarWidth, 0, 0);
            transform: translate3d($sidebarWidth, 0, 0);
        }
    }
}

.sidebar ul.sidebar-menu-tabs + ul {
    padding: 6px 7px;
    height: $sidebarPaneHeight;
    overflow-y: scroll;
    
    ul {
        padding-left: 15px;
    }

    .node {
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        min-height: 38px;
    }

    .node .toggle-hidden {
        width: 15px;
    }

    .node .toggle {
        top: 0;
        width: 15px;
        min-height: inherit;
        cursor: pointer;
        font-size: 10px;
        background-color: transparent;
        
        &:before {
            position: absolute;
            left: 2.5px;
            top: 14px;
        }

        &:hover {
            color: #FFF;
            background-color: #2BAEE9;
        }
    }

    .node .caret-right:before {
        content: '\25B8';
    }

    .node .caret-down:before {
        content: '\25BE';
    }
    
    .node .inner {
        display: inline-flex;
        align-items: center;
        width: calc(100% - 15px);
        min-height: inherit;
        
        &:hover {
            cursor: pointer;
            background-color: rgba(#2BAEE9, .5);
        }
    }

    .node .tree-icon {
        width: 30px;
        margin-right: 8px;
        text-align: center;
        font-size: 24px;
    }
    
    .node .node-text {
        width: calc(100% - 38px);
    }
    
    .node .running-node .inner {
        background-color: #9BFA9B;
    }

    .node .disabled {
        opacity: 0.5;
    }
}
