$icons: '../icons/';

.sidebar {
    width: $sidebarWidth;
    height: 100%;
    background-color: #DDDDDD;
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .m-tree {
        position: relative;
        padding: 5px;
        height: $sidebarPaneHeight;
        overflow-y: scroll;
        background-color: rgba(#FFFFFF, 0.5);

        .m-node {
            margin: 1px 0px;
            
            .icon {
                margin-right: 8px;
            }
            
            .node {
                display: inline-block;
                cursor: pointer;
                width: calc(100%);
                padding: 4px 5px;
                margin: 0px 0px;
                
                &:hover:not(.setup) {
                    background-color: rgba(#2BAEE9, 0.5);
                }
                
                &.setup {
                    cursor: default;
                    border-top: 2px solid #666666;
                    border-bottom: 2px solid #666666;
                }
            }
            
            .textbox {
                vertical-align: middle;
                display: inline-block;
                width: calc(100% - 38px);
            }
            
            .setup-textbox{
                display: table;
                margin: 0px auto;
            }
        }
    }

    .running-node {
        background-color: #9BFA9B;
    }

    .disabled {
        opacity: 0.5;
    }
}

.sidebar .sidebar-menu-tabs {
    background-color: #666666;
    border: 2px #333 solid;
    border-right: none;
    border-radius: 0px;
    font-size: 20px;
    height: $sidebarTabBarHeight;

    .rc-menu-item {
        position: relative;
        box-sizing: content-box;
        height: $sidebarTabHeight;
        width: 50%;
        padding: 0px;
        border: 2px solid #AFAFAF;
        border-left: none;
        border-right: none;
        margin: 0px;
        background-color: #333333;
        color: #F8F8F8;
        line-height: $sidebarTabHeight;
        text-align: center;
        text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;

        &:disabled {
            opacity: 0.5;
        }

        &:hover {
            cursor: pointer;
            color: #2BAEE9;
            border-bottom-color: #2BAEE9;
        }
    }

    .rc-menu-item-selected {
        background-color: #2BAEE9;

        &:hover {
            color: #FFFFFF;
        }
    }

    .rc-menu-item:before {
        display: block;
        content: '.';
        color: transparent;
        font-size: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: -2px;
        bottom: -2px;
    }

    .rc-menu-item.ws:before {
        border-left: 2px solid #AFAFAF;
        border-right: 2px solid #AFAFAF;
    }

    .rc-menu-item.wp:before {
        border-right: 2px solid #AFAFAF;
    }

    .rc-menu-item.tool {
        border-top: none;
    }

    .rc-menu-item.tool:before {
        border-left: 2px solid #AFAFAF;
        border-right: 2px solid #AFAFAF;
    }

    .rc-menu-item.tolerance {
        border-top: none;
    }

    .rc-menu-item.tolerance:before {
        border-right: 2px solid #AFAFAF;
    }
}

.sidebar .properties-pane {
    display: block;
    width: $sidebarWidth;
    background-color: #F8F8F8;
    position: absolute;
    top: 0;
    z-index: 100;
    height: calc(100% - #{$headerHeight});
    left: $sidebarWidth*-1;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -moz-transform ease 250ms;
    -ms-transition: -ms-transform ease 250ms;
    -o-transition: -o-transform ease 250ms;
    transition: transform ease 250ms;

    overflow-x: visible;

    .preview-cover {
        background-color: #f8f8f8;
        width: $sidebarWidth;
        height: $sidebarWidth;

        position:absolute;
    }

    .preview-container {
        position: absolute;
        border: solid 3px #F8F8F8;
        padding: 5px;
        width: $sidebarWidth;
        height: $sidebarWidth;
        background-color: #333333;
        z-index: -10;

        -webkit-transition: -webkit-transform ease 250ms;
        -moz-transition: -moz-transform ease 250ms;
        -ms-transition: -ms-transform ease 250ms;
        -o-transition: -o-transform ease 250ms;
        transition: transform ease 250ms;

        &.visible {
            -webkit-transform: translate3d($sidebarWidth, 0, 0);
            -moz-transform: translate3d($sidebarWidth, 0, 0);
            -ms-transform: translate3d($sidebarWidth, 0, 0);
            -o-transform: translate3d($sidebarWidth, 0, 0);
            transform: translate3d($sidebarWidth, 0, 0);
        }

        .preview-exit.icon {
            float: right;
            color: #999999;

            &:hover {
                cursor: pointer;
                color: #F8F8F8;
            }
        }
    }

    .properties {
        height: calc(100% - 54px);
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow-y: scroll;
        z-index: 100;
        
        .icon {
            font-size: 24px;
            margin-left: 3px;
            margin-right: 11px;
            
            &.custom {
                width: 24px;
                height: 24px;
            }
        }

        .property {
            padding: 5px;
            color: #333333;
            width: 100%;
            display: inline-flex;
            align-items: center;
            white-space: normal;

            &:hover:not(.rc-menu-item-disabled) {
                cursor: pointer;
                background-color: rgba(#2BAEE9, 0.5);
            }

            &.rc-menu-item-disabled {
                -webkit-touch-callout: auto;
                -webkit-user-select: auto;
                -khtml-user-select: auto;
                -moz-user-select: auto;
                -ms-user-select: auto;
                user-select: auto;
            }

            &.button {
                display: inline-block;
                width: 50%;
                text-align: center;
                padding: 10px 0px;
                margin: 5px 25%;
                background-color: #333333;
                color: #F8F8F8;
                border-bottom: 2px solid transparent;
                cursor: default;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:hover:not(.rc-menu-item-disabled) {
                    cursor: pointer;
                    color: #2BAEE9;
                    background-color: #333333;
                    border-bottom-color: #2BAEE9;
                }

                &.rc-menu-item-disabled {
                    opacity: 0.5;
                }
            }
            
            &.children {
                display: inherit;
                cursor: default;
                
                .title {
                    border-top: 2px solid #666666;
                    border-bottom: 2px solid #666666;
                    font-size: 18px;
                    text-align: center;
                    cursor: default;
                    margin-bottom: 5px;
                    -webkit-touch-callout: auto;
                    -webkit-user-select: auto;
                    -khtml-user-select: auto;
                    -moz-user-select: auto;
                    -ms-user-select: auto;
                    user-select: auto;
                }
                
                .list {
                    cursor: pointer;
                    .node {
                        width: 100%;
                        display: inline-flex;
                        align-items: center;
                        padding: 4px 0px;
                        margin: 1px 0px;

                        &.invalid {
                            cursor: default;
                        }

                        .textbox {
                            display: flex;
                        }

                        &.is-active {
                            background-color: #0000FF;
                        }

                        &.is-hidden {
                            color: #1B6D85;
                        }

                        &.running-node {
                            background-color: #9BFA9B;
                        }

                        &.disabled {
                            opacity: 0.5;
                        }

                        &:hover:not(.is-active) {
                            background-color: rgba(#2BAEE9, 0.5);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .titlebar {
        width: calc(100% + 38px);
        position: relative;
        right: 38px;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 5px;
        border-bottom: 1px solid #DDDDDD;
        
        .titleinfo {
            display: flex;
            align-items: center;
            justify-content: right;
            flex-grow: 1;
        }
        
        .title-back.icon {
            cursor: pointer;
            padding-right: 8px;
            background-color: rgba(#F8F8F8, 1);
            color: #2BAEE9;
            -webkit-transition: -webkit-transform ease 250ms;
            -moz-transition: -moz-transform ease 250ms;
            -ms-transition: -ms-transform ease 250ms;
            -o-transition: -o-transform ease 250ms;
            transition: transform ease 250ms;
            
            &:before {
                align-self: stretch;
            }
            
            &.visible {
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                -o-transform: translateX(100%);
                transform: translateX(100%);
            }
        }
        
        .title-icon.icon {
            margin-right: 8px;
        }
        
        .title-exit.icon {
            margin-left: 8px;
            
            &:hover {
                cursor: pointer;
                color: #2BAEE9;
            }
        }
        
        .title {
            flex-grow: 1;
            font-size: 14px;
            font-weight: bold;

            .type {
                border-bottom: 2px solid #666666;
            }
        }
    }

    &.visible {
        -webkit-transform: translate3d($sidebarWidth, 0, 0);
        -moz-transform: translate3d($sidebarWidth, 0, 0);
        -ms-transform: translate3d($sidebarWidth, 0, 0);
        -o-transform: translate3d($sidebarWidth, 0, 0);
        transform: translate3d($sidebarWidth, 0, 0);
    }
}

.sidebar .treebeard {
    padding: 5px;
    height: $sidebarPaneHeight;
    overflow-y: scroll;
    background-color: rgba(#FFFFFF, 0.5);
    
    ul {
        padding-left: 15px;
    }

    .node {
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        min-height: 38px;
        margin: 1px 0px;
    }

    .node .toggle-hidden {
        width: 15px;
    }

    .node .toggle {
        top: 0;
        width: 15px;
        min-height: inherit;
        cursor: pointer;
        font-size: 10px;
        background-color: transparent;
        
        &:before {
            position: absolute;
            left: 2.5px;
            top: 14px;
        }

        &:hover {
            color: #FFFFFF;
            background-color: #2BAEE9;
        }
    }
    
    .node .inner {
        display: inline-flex;
        align-items: center;
        width: calc(100% - 15px);
        min-height: inherit;
        
        &:hover {
            cursor: pointer;
            background-color: rgba(#2BAEE9, 0.5);
        }
    }

    .node .icon {
        margin-left: 5px;
        margin-right: 8px;
        font-size: 24px;
    }

    .node .node-text {
        width: calc(100% - 38px);
    }
    
    .node .running-node .inner {
        background-color: #9BFA9B;
    }

    .node .disabled {
        opacity: 0.5;
    }
}

.icon {
    font-size: 30px;
    
    &.custom {
        padding: 15px;
        vertical-align: middle;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        height: 30px;
        width: 30px;
    }

    &.workpiece {
        background-image: url($icons + 'workpiece.svg');
    }
    
    &.tool {
        border: 2px solid #333333;
        border-radius: 5px;
        background-image: url($icons + 'tools/tool.svg');
    }
    
    &.letter {
        font-size: 14px;
        background-color: #333333;
        color: #FFFFFF;
    }

    &.angularity {
        background-image: url($icons + 'tolerance/angularity.svg');
    }

    &.circular-runout {
        background-image: url($icons + 'tolerance/circular_runout.svg');
    }

    &.circularity {
        background-image: url($icons + 'tolerance/circularity.svg');
    }

    &.concentricity {
        background-image: url($icons + 'tolerance/concentricity.svg');
    }

    &.cylindricity {
        background-image: url($icons + 'tolerance/cylindricity.svg');
    }

    &.flatness {
        background-image: url($icons + 'tolerance/flatness.svg');
    }

    &.parallelism {
        background-image: url($icons + 'tolerance/parallelism.svg');
    }
    
    &.line {
        background-image: url($icons + 'tolerance/profile_line.svg');
    }

    &.surface {
        background-image: url($icons + 'tolerance/profile_surface.svg');
    }

    &.perpendicularity {
        background-image: url($icons + 'tolerance/perpendicularity.svg');
    }

    &.position {
        background-image: url($icons + 'tolerance/position.svg');
    }

    &.straightness {
        background-image: url($icons + 'tolerance/straightness.svg');
    }

    &.symmetry {
        background-image: url($icons + 'tolerance/symmetry.svg');
    }

    &.total-runout {
        background-image: url($icons + 'tolerance/total_runout.svg');
    }

    &.directed {
        background-image: url($icons + 'dimension/linear_distance.svg');
    }

    &.radial {
        background-image: url($icons + 'dimension/radial.svg');
    }

    &.width {
        background-image: url($icons + 'dimension/width.svg');
    }

    &.height {
        background-image: url($icons + 'dimension/height.svg');
    }

    &.diameter {
        background-image: url($icons + 'dimension/diameter.svg');
    }

    &.angle-size {
        background-image: url($icons + 'dimension/angle_size.svg');
    }

    &.datum {
        background-image: url($icons + 'tolerance/datum.svg');
    }

    &.datum-target {
        background-image: url($icons + 'tolerance/datum_target.svg');
    }

    &.texture {
        background-image: url($icons + 'tolerance/texture.svg');
    }  
}
