$sidebarWidth: 390;

.sidebar{
    width: $sidebarWidth;
    background-color:#ddd;
    position:relative;
    z-index: 5;

    .m-tree{
      position:relative;
      padding:20px;
      height: calc(100% - 75px - 90px);
      .m-node .collapse:hover{
        background-color:#f00;
    }
      .m-node {
        background-color:rgba(255,255,255,.5);
        margin-bottom:1px;
        cursor: pointer;
      }
      .icon-letter{
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        width: 30px;
        display: inline-block;
        text-align: center;
        margin-right: 8px;
    }
  }

    .sidebar-menu-tabs{

      background-color: #333;
      height:75px;
      font-size:20px;
      color:#ddd;
      overflow:visible;

      .back-button{
        position:absolute;
        transition: left .5s, opacity .5s;
        left:10px;
        top:30px;
        opacity:.25;
      }

      .back{
        opacity:.5;
        position:absolute;
        transition: left .5s, opacity .5s;
        left:40px;
        top:26px;
        color:#fff;
      }
      .back:hover{
        cursor:pointer;
        opacity:1;
        left:45px;
      }

      /*.current{
        position:absolute;
        transition: left .5s, opacity .5s;
        left:200px;
        top:26px;
        white-space: nowrap;
        color:#fff;
      }
      .current:hover{
        cursor:pointer;
      }*/

    }

    .disabled-view{
      padding-top:100px;
      font-size:18px;
      text-align: center;
      color:#888;
      padding:20px;
    }
}
