.sidebar{
  .m-tree{
    padding:20px;
    height:77vmin;
    max-height: max-content;
    .m-node .collapse:hover{
      background-color:#f00;
    }
    .m-node .inner{
      background-color:rgba(255,255,255,.5);
      margin-bottom:1px;
    }
    .icon-letter{
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      width: 30px;
      display: inline-block;
      text-align: center;
      margin-right: 8px;
    }
  }
}
