.header {
    width: 100%;
    height: $headerHeight;
    background-color: #FFFFFF;
    border-bottom: none;
    position: relative;
    z-index: 10;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.header-menu {
    background-color: #F8F8F8;
    height: 100%;
    border-top: none;

    .rc-menu-item,.rc-menu-submenu {
        min-width: 85px;
        height: inherit;
        border-bottom: 2px solid transparent;
        text-align: center;
        padding: 0;
        border-right: 1px solid #DDDDDD;
        background: none;
        white-space: normal;

        &:hover:not(.rc-menu-item-disabled,.rc-menu-submenu-disabled) {
            border-bottom-color: #2DB7F5;
        }
    }

    .geommenu {
        .geom {
            display: flex;
            .icon{
                flex: 2;
            }
        }
        li:last-child{
            float: none;
        }
    }
    li:last-child {
        float: right;
        border-left: 1px solid #DDDDDD;
    }
}

.header .button {

    #removal {
        padding-bottom: 0px;
    }
    .icon {
        padding-bottom: 11px;
        padding-top: 15px;
    }

    &:hover {
        cursor: pointer;

        .icon {
            color: rgba(#2BAEE9, 1);
        }
    }
}

.header .info {
    padding: 0px 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    
    .item {
        display: flex;
        align-items: center;
        
        .icon {
            margin-right: 8px;
        }
        
        .icon, .text {
            display: inline-block;
            text-align: left;
        }
        
        .value {
            font-weight: bold;
        }
    }
    
    .machine-button {
        padding: 7px;
    }
    
    &.live {
        .icon {
            margin-right: 5px;
        }
        
        &.active {
            .icon {
                color: red;
            }
        }
    }
    
    &.mtc {
        width: 365px;
        background-image: url('../icons/mtc.png');
        background-size: cover;
        background-position: center; 
    }
}

.header .version{
    display:inline-block;
    height: 18px;
}

.header .changelog {
    max-height: 350px;
    width: 390px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    padding: 6px;
    border: 2px #333333 solid;
    overflow-y: auto;
    text-align: left;
    background-color: rgb(248, 248, 248);
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -o-user-select: text;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -moz-transform ease 250ms;
    -ms-transition: -ms-transform ease 250ms;
    -o-transition: -o-transform ease 250ms;
    transition: transform ease 250ms;

    &.visible {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.header .icon {
    font-size: 32px;
    color: rgba(#666666, .5);
    display: block;
}
